<ion-input
  [class.invalid]="control.invalid && control.touched"
  label="Password"
  label-placement="floating"
  fill="outline"
  type="password"
  [formControl]="formControl"
  placeholder="Enter password"></ion-input>
<small class="error-message" *ngIf="control.hasError('pattern') && control.touched">
  Weak password (you must use special characters, numbers, uppercase and uppercase letters)
</small>
<small class="error-message"
       *ngIf="control.hasError('required') && control.touched">
  This field is required
</small>
<small class="error-message"
       *ngIf="control.hasError('minlength') && control.touched">
  The minimum number of characters is {{ control.errors?.['minlength'].requiredLength }}
</small>
