<ion-input
  focusTracker
  [class.invalid]="control.hasError('passwordMismatch') && control.touched"
  label="Repeat password"
  type="password"
  label-placement="floating"
  fill="outline"
  [formControl]="formControl"
  placeholder="Repeat your password"></ion-input>
<small class="error-message"
       *ngIf="control.hasError('required') && control.touched">
  This field is required
</small>
<small class="error-message"
       *ngIf="control.hasError('minlength') && control.touched">
  The minimum number of characters is {{ control.errors?.['minlength'].requiredLength }}
</small>
<small class="error-message" *ngIf="control.hasError('passwordMismatch') && control.touched">
  Passwords don't match
</small>
