@import "src/styles/constants";

.header {
  text-align: center;

  &__title {
    font-size: 2.05rem;
    font-family: monospace;
    color: $orange;
    text-shadow: 0 0 10px $dull-orange;
  }
}

.container {
  text-align: center;
}
